body, html {
	padding: 0;
	margin:0;
    overflow: hidden;
}

@font-face {
    font-family: "opensans";
    src: url(fonts/OpenSans-Light.ttf) format("truetype");
    src: url(fonts/OpenSans-Light.woff) format("woff");
}
@font-face {
    font-family: "opensansbold";
    src: url(fonts/OpenSans-Bold.ttf) format("truetype");
    src: url(fonts/OpenSans-Bold.woff) format("woff");
}
@font-face {
    font-family: "opensansnormal";
    src: url(fonts/OpenSans-Regular.ttf) format("truetype");
    src: url(fonts/OpenSans-Regular.woff) format("woff");
}

body {
	background: #E8E8E8;
	font-family: opensans;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin-top: 10px;
    border:none;
    background: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 204, 117, 1);

    padding-left: 40px;
    z-index: 5;
}
.form-signin .form-control:focus {
	    box-shadow: 0 2px 4px rgba(0, 204, 117, 0.2);
}
.form-signin .form-control:focus
{
    z-index: 2;
}


.account-wall
{
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.vert-offset-top-5{
    margin-top: 5em;
}
.vert-offset-top-4{
    margin-top: 4em;
}
.vert-offset-top-3{
    margin-top: 3em;   
}
.vert-offset-top-2{
    margin-top: 2em;
}
.vert-offset-top-1{
    margin-top: 1em;
}
*:focus {
	outline: none;
}
.btn-green {
	border-radius: 0;
	background: #00CC75;
	border: none;
    font-size: 17px;
	text-transform: uppercase;
}
.btn-green:hover {
	background: #00CC75;
	border: none;
}
.btn-green:active, .btn-green:active {
	background: #00CC75;
	border: none;
}

.btn-green:active:focus {
	background: #00CC75;
	border: none;
}

.fcontrol-wrap {
	position: relative;
	width: 100%;
}
.fcontrol-icon {
	position: absolute;
	top: 10px;
    left: 10px;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 17px;
    color: #BBBBBB;
    z-index: 3;
}

.login-photo {
	background-image:url(../images/login-bg-photo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 220px;
}
.btn-login, .btn-register {
    max-width: 330px;
    margin:0 auto;
}
.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}
.top-header {
    background: #3A404C;
    color: white;
}
.th-logo {
    font-family: opensansbold;
    padding: 12px;
    font-size: 15px;
}
.dropdown {
    position: relative;
    cursor: pointer;
    min-width: 200px;
}
.dropdown-block {
    position: relative;
    width: 100%;
    padding: 10px;
    -webkit-transition:background .2s ease-in-out;
}
.dropdown:hover .dropdown-block {
    background: white;
    color: #3d3d3d;
}
.dropdown:hover .dropdown-contextmenu {
    visibility: visible;
    -webkit-transform: translate3d(0,0px,0);
    opacity: 1.0;
    z-index: 100;
}

.dropdown-contextmenu {
    visibility: hidden;
    position: absolute;
    background: #FFF;
    color: #3d3d3d;
    width: 230px;
    right: 0px;
    top: 45px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    border-radius: 2px 0px 0px 2px;
    padding: 5px 0;
    opacity: 0.0;
    -webkit-transform: translate3d(0,20px,0);    
    -webkit-transition:visibility .2s linear 0s, -webkit-transform 0.2s ease-in-out, opacity .2s ease-in-out;
}
.db-username {
    font-size: 17px;

}
.db-icon {
    font-size: 18px;
}
.dd-item {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: #3d3d3d;
    -webkit-transition:background .2s ease-in-out;
}
.dd-icon {
    font-size: 17px;
    margin-right: 10px;
    margin-left: 5px;
}
.dd-item:hover {
    background: #04C489;
    text-decoration: none;
    color: #FFF;
}
.button {
    text-align: left;
    color: white;
    font-size: 13px;
    margin: 6px;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
}
.button:active {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2) inset;
}
.button i {
    margin-right: 10px;
    font-size: 14px;
    vertical-align: 0px;
}
.button.green i {
    color:#04C489;
}

.button.green {
    color: #FFF;
    border:1px solid #04C489;
}
.button.green:hover {
    background: #04C489;
    color: #FFF;
}
.button.green:hover i {
    color:white;
}
.btn-add-event {
    margin-right: 52px;
}
.no-label i {
    margin: 0;
}
.lm-option {
    text-align: left;
    color: #3d3d3d;
    font-size: 15px;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.lm-option:hover, .lm-current {
    background: #04C489;
    color: #FFF;
    cursor: pointer;
}
.lm-option i {
    color: #04C489;
    margin-right: 10px;
    font-size: 18px;
}
.lm-option:hover i, .lm-current i {
    color: white;
}
.page-screen {
    padding: 10px;
}
.page-screen:not(.page-screen-first) {
    display: none;
}
.left-panel {
    width: 250px;
}
.center-content {
    width: 600px;
}
.right-panel {
    width: 250px;
    background: #EFEFEF;
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
}
.inner-panel-content {
    padding: 10px;
}
.columns-full-width .left-panel {
    width: 250px;
}
.columns-full-width .center-content {
    width: 60%;
}
.columns-full-width .right-panel {
    width: 250px;
}
.page-body {
    text-align: center;
}
.page-body-inner {
    margin: 0 auto;
    display: inline-block;
}

.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}
.ui-datepicker-calendar thead th {
    padding: 5px;
    color:gray;

}
.ui-datepicker-calendar thead th span {
    width: 100%;
    display: block;
    text-align: center;
}
.ui-datepicker-calendar td {
    padding: 5px 6px;
}
.ui-datepicker-calendar td span {
    width: 100%;
}
.ui-datepicker-calendar td a {
    color: #3d3d3d;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none !important;
}
.ui-datepicker-other-month {
    color: gray;
    opacity: 0.9;
}
.ui-datepicker-header {
    position: relative;
    height: 36px;
}
.ui-datepicker-title {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 2px;
    top: 3px;
    left: 0;
    z-index: 1;
    font-size: 15px;
}
.ui-datepicker-prev {
    position: absolute;
    left: -2px;
    top: 0;
    z-index: 3;
}
.ui-datepicker-next {
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 3;
}
.ui-datepicker-next, .ui-datepicker-prev {
       color: transparent !important;
       text-decoration:none;
       top: 6px;
       cursor: pointer;
}
.ui-datepicker-next:hover .ui-datepicker-next:after, .ui-datepicker-prev:hover .ui-datepicker-prev:before {
    color: #3d3d3d;
}

.ui-datepicker-prev:before {
   content: '\f053';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin:0px 0px 0px 10px;
   text-decoration:none;

   color: gray;
}
.ui-datepicker-next:after {
   content: '\f054';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin:0px 0px 0px 10px;
   text-decoration:none;

   color: gray;
}

.modal {
    font-family: opensans;
}


.custom-checkbox {
  position: relative;
  display: inline-block;
}

.custom-checkbox > .box {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #E2E2E2;
  background-color: #FFF;
  border-radius: 4px;

  transition: .4s transform ease-in-out;
}
.custom-checkbox > .box > .tick {
  position: absolute;
  left: 4px;
  top: 5px;
  width: 8px;
  height: 4px;
  border-bottom: 2px solid #48B426;
  border-left: 2px solid #48B426;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: none;

}

.cc-shown {
    transform: scale(1.5);
}

.custom-checkbox > input:checked + .box > .tick {
  display: block;
}

.custom-checkbox > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  padding: 0;
  width: 19px;
  height: 20px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.custom-checkbox > input:active + .box {
  border-color: #DADADA;
  background-color: #F7F7F7;
}
